body{
	margin: 0;
	padding: 0;
}

#mvrahas-cage{
	width: 300px;
	height: 300px;
	background: aliceblue;
	border-radius: 50px;
	position: relative;
	margin: 0 auto;
}

#mvrahas-neck{
	width:20px;
	height: 30px;
	background: rgb(80,147,145);
	position: absolute;
	top: 25px;
	left: 137px;
}

#mvrahas-head{
	width: 50px;
	height: 30px;
	background: rgb(80,147,145);
	-moz-border-radius: 25px / 12.5px;
	-webkit-border-radius: 25px / 12.5px;
	border-radius: 25px / 12.5px;
	transform: rotate(90deg);
	position: absolute;
	top: 13px;
	left: 122px;
}

#mvrahas-shell{
	width: 200px;
	height: 150px;
	background: skyblue;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	transform: rotate(90deg);

	position: absolute;
	top: 80px;
	left: 50px;
}

#mvrahas-shellInner{
	width: 180px;
	height: 130px;
	background: rgb(59,127,125);
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	transform: rotate(90deg);

	position: absolute;
	top: 90px;
	left: 60px;
}

#mvrahas-hex1{
	position: absolute;
	top: 150px;
	left: 160px;
}
#mvrahas-hex2{
	position: absolute;
	top: 122px;
	left: 142px;
}

#mvrahas-hex3{
	position: absolute;
	top: 94px;
	left: 160px;
}

#mvrahas-hex4{
	position: absolute;
	top: 212px;
	left: 154px;
}

#mvrahas-hex5{
	position: absolute;
	top: 212px;
	left: 117px;
}

#mvrahas-hex6{
	position: absolute;
	top: 184px;
	left: 99px;
}

#mvrahas-hex7{
	position: absolute;
	top: 122px;
	left: 105px;
}


.mvrahas-hexagon{
	width: 33.33px;
	height: 16.66px;
	position: absolute;
	background-color: rgb(80,147,145);
	color: rgb(80,147,145);
}

.mvrahas-hexagon:before {
	content: "";
	position: absolute;
	top: -8.33px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 16.66px solid transparent;
	border-right: 16.66px solid transparent;
	border-bottom: 8.33px solid;
}
.mvrahas-hexagon:after {
	content: "";
	position: absolute;
	bottom: -8.33px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 16.66px solid transparent;
	border-right: 16.66px solid transparent;
	border-top: 8.33px solid;
}
.mvrahas-eye{
	width: 10px;
	height: 10px;
	background: rgb(200,200,200);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#mvrahas-eyeL{
	position: absolute;
	top: 7px;
	left: 132px;
}

#mvrahas-eyeR{
	position: absolute;
	top: 7px;
	left: 151px;
}


.mvrahas-leg1{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 50px solid;
	color: rgb(80,147,145);
}
.mvrahas-leg2{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 50px solid;
	color: rgb(80,147,145);
}

#mvrahas-frontR{
	position: absolute;
	top: 16px;
	left: 184px;
	transform: rotate(30deg);
}

#mvrahas-frontL{
	position: absolute;
	top: 16px;
	left: 85px;
	transform: rotate(-30deg);
}

#mvrahas-backR{
	position: absolute;
	top: 245px;
	left: 91px;
	transform: rotate(200deg);
}

#mvrahas-backL{
	position: absolute;
	top: 245px;
	left: 184px;
	transform: rotate(160deg);
}

