element.style{
}
.valeriva-cage {
    position: relative;
    left: 10px;
    height: 300px;
    margin: 0 auto 0 auto;
    width:300px;
    border-radius:70%;
    background-color: #cccccc;
}
#valeriva-body {
    position: relative;
    top:65px;
    width:230px;
    height:180px;
}

#valeriva-body { left: 35px; }

#valeriva-body {
    background-color:white;
    border-radius: 40px;
}
#valeriva-foot_L {
    position: relative;
    bottom:100px;
    width:70px;
    height:20px;
}
#valeriva-foot_L { left: 70px; }
#valeriva-foot_R { left: 150px; }

#valeriva-foot_L {
    background-color: black;
    border-radius: 35px;
}
#valeriva-foot_R {
    position: relative;
    bottom:80px;
    width:70px;
    height:20px;
}
#valeriva-foot_R {
    background-color: black;
    border-radius: 35px;
}
#valeriva-eye_L {
    position: relative;
    bottom:180px;
    width:70px;
    height:70px;
}
#valeriva-eye_L { left: 70px; }
#valeriva-eye_R { left: 150px; }

#valeriva-eye_L {
    background-color: black;
    border-radius: 35px;
}
#valeriva-eye_R{
    position: relative;
    bottom:110px;
    width:70px;
    height:70px;
}
#valeriva-eye_R {
    background-color:black;
    border-radius: 35px;
}
#valeriva-pupil_L {
    position: relative;
    bottom:250px;
    width:20px;
    height:20px;
}
#valeriva-pupil_L { left: 70px; }
#valeriva-pupil_R { left: 150px; }

#valeriva-pupil_L {
    background-color: white;
    border-radius: 35px;
}
#valeriva-pupil_R{
    position: relative;
    bottom:270px;
    width:20px;
    height:20px;
}
#valeriva-pupil_R {
    background-color:white;
    border-radius: 35px;
}
#valeriva-beak {
    position: relative;
    width: 0;
	height: 0;
    bottom: 250px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #d58bd8;
}
#valeriva-beak { left: 120px; }

#valeriva-wing_L {
    position: relative;
	width: 0;
	height: 0;
    bottom: 280px;
	border-top: 50px solid #cccccc;
	border-right: 50px solid transparent;
}
#valeriva-wing_L { left: 205px; }
