#cdiloret-tiger{
    float: center;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0 auto 0 auto;
}

#cdiloret-R_cheek {
    width: 0;
	height: 0;
	border-top: 140px solid transparent;
	border-left: 100px solid #ff9900;
	border-bottom: 75px solid transparent;
    margin-top:50px;
    margin-left: 240px;
    position: absolute;
}

#cdiloret-R_cheek1 {
    width: 0;
	height: 0;
	border-top: 140px solid transparent;
	border-left: 85px solid #000000;
	border-bottom: 75px solid transparent;
    margin-top:50px;
    margin-left: 240px;
    position: absolute;
}

#cdiloret-R_cheek2 {
    width: 0;
	height: 0;
	border-top: 140px solid transparent;
	border-left: 70px solid #ff9900;
	border-bottom: 75px solid transparent;
    margin-top:50px;
    margin-left: 240px;
    position: absolute;
}

#cdiloret-L_cheek {
    width: 0;
	height: 0;
	border-top: 140px solid transparent;
	border-right: 100px solid #ff9900;
	border-bottom: 75px solid transparent;
    margin-top:50px;
    margin-left:-45px;
    position:absolute;
}

#cdiloret-L_cheek1 {
    width: 0;
	height: 0;
	border-top: 140px solid transparent;
	border-right: 85px solid #000000;
	border-bottom: 75px solid transparent;
    margin-top:50px;
    margin-left:-25px;
    position:absolute;  
}

#cdiloret-L_cheek2 {
    width: 0;
	height: 0;
	border-top: 140px solid transparent;
	border-right: 70px solid #ff9900;
	border-bottom: 75px solid transparent;
    margin-top:50px;
    margin-left:-10px;
    position:absolute;  
}

#cdiloret-face {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #ff9900;
    position: absolute;
}

#stripe1{
    width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 10px solid #000000;
    margin-left: 90px;
    margin-top:25px;
    position: absolute;
}

#cdiloret-stripe2{
    width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 10px solid #000000;
    margin-left: 70px;
    margin-top:45px;
    position: absolute;
}

#cdiloret-stripe3{
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 10px solid #000000;
    margin-left: 50px;
    margin-top:65px;
    position: absolute;
}

#cdiloret-nose {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 200px solid #ffc34d;
    margin-left: 100px;
    margin-top: 20px;
    position: absolute;
}


#cdiloret-nose2 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #663300;
    margin-left: 100px;
    margin-top: 220px;
    position: absolute;
}

#cdiloret-nose3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 20px solid #ffc34d;
    margin-left: 100px;
    margin-top: 220px;
    position: absolute;
}

#cdiloret-mouth {
	width: 140px;
	height: 100px;
    margin-left: 80px;
    margin-top:200px;
	background: #ffeecc;
	position: absolute;
}
#cdiloret-mouth:before {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 40px solid #ffeecc;
}
#cdiloret-mouth:after {
	content: "";
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-top: 40px solid #ffeecc;
}
	
#cdiloret-mouth2 {
    width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 30px solid #000000;
    margin-left: 80px;
    margin-top: 270px;
    position: absolute;
}

#cdiloret-mouth3 {
    width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 10px solid #ffeecc;
    margin-left: 80px;
    margin-top: 290px;
    position: absolute;
}

#cdiloret-R_eye {
    width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 20px solid #000000;
    margin-left: 180px;
    margin-top:115px;
    position: absolute;
}

#cdiloret-L_eye {
    width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 20px solid #000000;
    margin-left: 50px;
    margin-top:115px;
    position: absolute;
}

#cdiloret-L_ear {
    width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 100px solid #ff9900;
    margin-top: -20px;
    margin-left: -35px;
    transform: rotate(-40deg);
    position:absolute;
}

#cdiloret-R_ear {
    width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-top: 100px solid #ff9900;
    margin-top: -20px;
    margin-left: 200px;
    transform: rotate(-140deg);
    position:absolute;
}

#cdiloret-L_innerear {
    width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 80px solid #ffeecc;
    margin-top: 0px;
    margin-left: -15px;
    transform: rotate(-40deg);
    position:absolute;
}

#cdiloret-R_innerear {
    width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 80px solid #ffeecc;
    margin-top: 0px;
    margin-left: 200px;
    transform: rotate(40deg);
    position:absolute;
}