@font-face {
			font-family: "avenir";
			src: url("font/avenirnext.ttc");	
		
			}

body {
    background-color: whitesmoke;
}



#container {
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
    align-content: center;
    background: transparent;
}

.butter {
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: inline-block;
    margin: auto;
    align-content: center;
    margin-left: 20px;
}

#center:hover {
    	background: #4F00FF;
}

#center 
{
     
    margin-top: 40px;
    margin-left: 130px;
    position: absolute;
    z-index: 100;
    width: 30px;
	height: 150px;
	background: #FF194C;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
    
}

#lefttop:hover {
    	background: #6300E8;
}


#lefttop {
      box-shadow: 10px 10px 5px #888888;
		width: 100px;
	height: 100px;
	background: #E8276A;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
    	-webkit-transform: skew(40deg);
	   -moz-transform: skew(40deg);
	     -o-transform: skew(40deg);
}

#righttop:hover {
    	background: #6300E8;
}


#righttop {
      box-shadow: 10px 10px 5px #888888;
    margin-left: 50px;
    	width: 100px;
	height: 100px;
	background: #E8276A;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
    	-webkit-transform: skew(-40deg);
	   -moz-transform: skew(-40deg);
	     -o-transform: skew(-40deg);
  
}

#leftbottom:hover {
    	background: #8900FF;
}


#leftbottom {
      box-shadow: 10px 10px 5px #888888;
	width: 100px;
	height: 100px;
	background: #FF3092;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
    	-webkit-transform: skew(-40deg);
	   -moz-transform: skew(-40deg);
	     -o-transform: skew(-40deg);
}


#rightbottom:hover {
    	background: #8900FF;
}


#rightbottom {
      box-shadow: 10px 10px 5px #888888;
    margin-left: 50px;
	width: 100px;
	height: 100px;
	background: #FF3092;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
    	-webkit-transform: skew(40deg);
	   -moz-transform: skew(40deg);
	     -o-transform: skew(40deg);
}





